.App {
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 500px;
    min-height: 440px;
    background-color:seagreen;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
.search-id, input{
  margin-top: 25px;
  width: 250px;
  box-sizing: border-box;
  border: 0px solid #ccc;
  outline: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 10px 0px 0px 0px;
  margin-left: 120px;
  margin-right: 178px;
}
img{
  width: 250px;
  margin-left: 120px;;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
